.DogCard {
    text-decoration: none;
    height: 100%;
  
    &:not(.NotLink) {
      &:hover {
        cursor: pointer;
        background: whitesmoke;
        text-decoration: none;
      }
    }
  
    .CardBody {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  
    .DogName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: calc(100% - 30px);
      padding-right: 1rem;
      margin: 0;
      color: black;
    }
  
  .DeleteIcon {
      position: absolute;
      top: 5px;
      right: 5px;
      opacity: 0.5;
      z-index: 100;
      color: white;
      background-color: rgb(20, 108, 93);
      border-color: rgb(20, 108, 93);
  
    &:hover , &.active{
        opacity: 1;
        color: white;
        background-color: rgb(20, 108, 83);
        border-color:rgb(20, 108, 83);
      }}

    .DogImage {
        height: 250px;
        object-fit: cover;
    }
  }